*{
    margin: 0;
    padding: 0;
}

.home-div{
    background-color: aquamarine;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    height: 500px;
    background-color: white;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}
.form label{
    margin-left: 20px;
    font-weight: bold;
}
.input{
    width: 70%;
    margin-left: 20px;
    height: 50px;
}
.btns{
    margin-top: 10px;
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}
.btns a{
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 30px;
}

table{
    width: 100%;
    /* border-spacing: 10px; */
}
th{
    text-align: center;
    font-size: 20px;
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

th,td{
    padding: 15px;
    text-align: center;
}
.equipments{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px;
}
.equipments a{
    text-decoration: none;
    border: 1px solid black;
    background-color: rgb(46, 36, 187);
    color: white;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
}